.banner {
  position: relative;
  width: 100vw;
  height: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $color-black-70;

  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    height: auto;
    min-height: 176px;
  }

  @media (min-width: $laptop-width)  {
    width: auto;
    max-width: 100%;

    margin-left: 32px;
  }

  @media (min-width: $desktop-width)  {
    margin-top: auto;
    margin-bottom: 30px;
  }
}

.banner__img-wrapper {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner__img-wrapper img {
  object-fit: cover;
  width: 100%;
}

.banner__img-wrapper picture {
  display: flex;
  width: 100%;
}

.banner__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h3 {
  max-width: 95%;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-white;
  text-align: center;

  margin: 0;
  margin-bottom: 20px;
}
