.favorites {
  margin-bottom: 35px;
  padding: 0 16px;

  @media (min-width: $laptop-width)  {
    order: 3;
    width: 100%;

    margin-bottom: 0;
    padding: 0;
  }
}

.favorites__slider {
  padding-bottom: 40px;

  @media (min-width: $laptop-width)  {
    margin-bottom: 97px;
    margin: 0 6px 97px;
    padding: 0 24px;
  }
}

.favorites__list {
  @include indents-zero();
}

.favorites__item {
  position: relative;
  min-height: 146px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorites__item h3 {
  max-width: 95%;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-white;

  margin-top: 0;
}

.favorites__item--light h3 {
  color: $color-main;
}

.favorites__link.link {
  font-size: 10px;
  line-height: 12px;

  padding: 7px 15px 6px;

  border-color: $color-white;
}

.favorites__item--light .favorites__link.link {
  border-color: $color-main;
}

.favorites__img-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: height 0.3s;

  background-color: $color-black-70;

  @media (min-width: $laptop-width)  {
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.favorites__item:hover .favorites__img-wrapper {
  @media (min-width: $laptop-width)  {
    height: 150px;
  }
}

.favorites__img-wrapper img {
  object-fit: cover;
  width: 100%;
}

.favorites__content {
  min-height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $laptop-width)  {
    transition: opacity 0.4s;
    opacity: 0;
  }
}

.favorites__item:hover .favorites__content {
  @media (min-width: $laptop-width)  {
    opacity: 1;
  }
}

.favorites .swiper-button-next,
.favorites .swiper-button-prev {
  display: none;

  @media (min-width: $laptop-width)  {
    display: block;
    width: 44px;
    height: 44px;

    padding: 0;

    border: none;
    outline: none;
    background-color: $color-white;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: border-color 0.3s;
    }

    &:hover,
    &:focus {
      &::before {
        border-right-color: $color-main;
        border-left-color: $color-main;
      }
    }
  }
}

.favorites .swiper-button-next {
  @media (min-width: $laptop-width)  {
    right: 3px;

    &::before {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      
      border-left: 10px solid #a8a8a8;
    }
  }
}

.favorites .swiper-button-prev {
  @media (min-width: $laptop-width)  {
    left: 3px;

    &::before {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      
      border-right: 10px solid #a8a8a8;
    }
  }
}

.favorites .swiper-pagination {
  bottom: 7px;

  @media (min-width: $laptop-width)  {
    display: none;
  }
}

.favorites .swiper-pagination-bullet {
  width: 10px;
  height: 10px;

  font-size: 0;
  line-height: 0;

  background-color: $color-black-30;
  opacity: 1;
  outline: none;
}

.favorites .swiper-pagination-bullet-active {
  background-color: $color-black;
}

.favorites.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}
