.news {
  max-width: 100%;
  margin-bottom: 45px;
  padding: 0 16px;

  @media (min-width: $laptop-width)  {
    padding-right: 0;
    padding-left: 32px;
    margin-bottom: 15px;
  }
}

.news__header {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 15px;
}

.news__container {
  max-width: 100%;

  @media (min-width: $tablet-width)  {
    display: flex;
  }
}

.news__list {
  @include indents-zero();

  @media (min-width: $laptop-width)  {
    width: 35%;
    flex-grow: 1;
  }
}

.news__link {
  display: flex;

  text-decoration: none;
  outline: none;
}

.news__item {
  margin-bottom: 31px;
}

.news__item .news__img-wrapper {
  display: flex;
  position: relative;
  width: 44.1%;
  flex-shrink: 0;

  margin-right: 15px;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;

    opacity: 0;

    background-color: rgba(7, 6, 17, 0.7);
    background-image: url("../img/bookmark.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 10px right 10px;
  }

  @media (min-width: $desktop-width)  {
    margin-right: 12px;
  }
}

.news__link:hover .news__img-wrapper,
.news__link:focus .news__img-wrapper {
  &::before {
    opacity: 1;
  }
}

.news__item img {
  object-fit: cover;
  width: 100%;
}

.news__item h3 {
  max-width: 95%;
  transition: color 0.3s;

  font-family: "Playfair";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;

  margin-top: 0;
  margin-bottom: 10px;
}

.news__item .news__link:hover h3,
.news__item .news__link:focus h3 {
  color: $color-main;
}

.news__item p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;

  margin: 0;
}

.news__major-news {
  margin-bottom: 25px;

  @media (min-width: $tablet-width)  {
    width: 61%;
    flex-shrink: 0;

    margin-right: 30px;
    margin-bottom: 31px;
  }

  @media (min-width: $laptop-width)  {
    width: 48%;
  }

  @media (min-width: $desktop-width)  {
    width: 59%;

    margin-right: 25px;
  }
}

.news__major-news .news__link {
  position: relative;
  min-height: 334px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 20px 15px;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;

    opacity: 0;

    background-color: rgba(7, 6, 17, 0.7);
    background-image: url("../img/bookmark.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 10px right 10px;
  }

  @media (min-width: $tablet-width)  {
    min-height: 100%;
  }
}

.news__major-news .news__link:hover,
.news__major-news .news__link:focus {
  &::before {
    opacity: 1;
  }
}

.news__major-news .news__img-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.news__major-news picture {
  display: flex;
  width: 100%;
}

.news__major-news img {
  object-fit: cover;
  width: 100%;
}

.news__major-news .news__description {
  position: relative;
  z-index: 2;

  margin-top: auto;
}

.news__major-news h3 {
  max-width: 95%;

  font-family: "Playfair";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  color: $color-black;

  margin-top: auto;
  margin-bottom: 15px;
}

.news__major-news p {
  max-width: 95%;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $color-black;

  margin: 0;

  @media (min-width: 620px) {
    max-width: 520px;
  }
}

