.page-header__header {
  max-width: 180px;

  font-family: "Playfair";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 1px;

  margin: 42px auto 20px;
}