$desktop-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;

$content-max-width: 1170px;

$retina2x-dpi: 144dpi;
$retina2x-dppx: 1.5dppx;

$color-main: #ff7931;
$color-white: #ffffff;
$color-black: #000000;
$color-black-70: rgba($color-black, 0.7);
$color-black-30: rgba($color-black, 0.3);
$color-silver: #f9f9fc;

$font-plaifair-family: "Playfair", "Times", serif;
$font-raleway-family: "Raleway", "Arial", sans-serif;
